
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
}
body{
    background-color: #FFE8D6;
    justify-content: center;
    align-items: center;
    
}

/* Header */
header{
    width: 100%;
    height: 15vh;
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: baseline; 
    align-items: center;
    background-color: #65412B;
    padding: 1%;
}
#arealogo{
    display: flex;
    width: 25%;
    flex-flow: row wrap;
    align-items: center;
    margin-right: 30%;
}
#arealogo img{
    width: 25%;
}
#textologo{
    width: 50%;
    font-size: 23px;
    color: #FFE8D6;
}
header nav{
    width: 45%;
}
header nav ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
header nav a{
    text-decoration: none;
    color: #FFE8D6;
    font-size: 20px;
}
header nav ul li:last-child {
    display: none;
}
/* Main */
main{
    margin-top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.barralateral {
    width: 15%;
    position: fixed;
    top: 13vh;
    left: 85%;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 12;
    padding-top: 0.5%;
    padding-left: 0.5%;
    background-color: #e5e3e5;
    box-shadow: 0px 0px 5px #000000;
}
.barralateral ul{
    width: 100%;
    list-style: none;
    padding-top: 15%;
    padding-bottom: 5%;
    background-color: #e5e3e5;
}
.barralateral ul li{
    width: 100%;
    padding-left: 10%;
}
.barralateral a{
    text-decoration: none;
    width: 100%;
    color: #007a3e;
    font-size: 20px;
    transition: 0.5s;
}
.barralateral a:hover{
    color: #000000;
}
.dotted-linel {
    border-top: 2px solid #007a3e; 
    width: 80%; 
    margin-left: 10%; 
    margin-bottom: 10%;
}
#banner{
    width: 100%;
    height: 90vh;
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../Imagens/Banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
#cardapio{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #DDBEA9;
}
#titulocardapio{
    width: 100%;
    margin-top: 5%;
    margin-bottom: 2.5%;
    color: #65412B;
    font-size: 30px;
    text-align: center;
}
.areascardapio{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}
.nomearea{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5%;
    color: #65412B;
    font-size: 25px;
}
.item{
    width: 100%;
    margin-bottom: 2.5%;
    color: #65412B;
}
.tituloitem{
    font-size: 20px;
}
.descricaoitem{
    font-size: 18px;
}

.sobrenos{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 2.5%;
}
.elemento{
    width: 15%;
}
#sobretexto{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #65412B;
}
#titulosobre{
    font-size: 30px;
    margin-bottom: 2.5%;
    
}
#textosobre{
    font-size: 20px;
    text-align: center;
}
#whatsappicon{
    position: fixed;
    top: 590px;
    margin-left: 80%;
    background-color: #0dc152;
    width: 180px;
    padding: 0.5%;
    border-radius: 10px;
    z-index: 13;
}
#whatsappicon a{
    text-decoration: none;
    color: #FFE8D6;
    font-size:  20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
#whatsappicon a i{
    margin-right: 5px;
}
footer{
    width: 100%;
    background-color: #65412B;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    padding: 1%;
    padding-top: 2.5%;
}
#conteudofooter{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#arealogofooter{
    display: flex;
    width: 25%;
    flex-flow: row wrap;
    align-items: center;
    margin-right: 30%;
}
#arealogofooter img{
    width: 25%;
}
#contatos{
    width: 45%;
}
#contatos ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
#contatos a{
    text-decoration: none;
    color: #FFE8D6;
    font-size: 25px;
    display: flex;
    align-items: center;
}
#contatos a i {
    margin-right: 5px;
}
#eu a{
    text-decoration: none;
    color: #FFE8D6;
    font-size: 18px;
    display: flex;
    align-items: center;
}
    .dotted-line {
        border-top: 5px dotted #65412B; 
        width: 100%; 
        margin: 20px 0; 
    }

/* Responsividade */

@media (max-width: 320px){
    
    /* Header */
    #arealogo {
        width: 70%;
        margin-right: 15%;
    }
    #arealogo img {
        width: 50%;
    }
    header nav ul li {
        display: none;
    }
      
    header nav ul li:last-child {
        display: list-item;
    }
    header nav a{
        font-size: 28px;
    }

    /* Main */
    .barralateral {
        width: 80%;
        top: 15vh;
        left: 20%;
    }
    .barralateral ul{
        padding-top: 20%;
        padding-bottom: 5%;
    }
    .dotted-linel { 
        margin-bottom: 20%;
    }
    #banner {
        margin-top: 20%;

    }
    #titulocardapio{
        font-size: 28px;
        margin-top: 10%;
    }
    .nomearea {
        font-size: 22px;
    }
    .tituloitem {
        font-size: 18px;
    }
    .descricaoitem {
        font-size: 16px;
    }
    #titulosobre {
        font-size: 28px;
    }
    #sobretexto {
        width: 90%;
    }
    .sobrenos {
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .elemento {
        display: none;
    }
    #textosobre {
        font-size: 16px;
    }
    #whatsappicon {
        top: 90vh;
        width: 150px;
        margin-left: 39%;
        margin-right: 5%;
        padding: 2%;
    }
    #whatsappicon a {
        font-size: 18px;
    }
    /* Footer */
    
    #conteudofooter {
        flex-direction: column;
        align-items: center;
        margin-top: 2.5%;
        align-items: center;
    }
    #arealogofooter {
        width: 60%;
        margin-right: 0;
        align-items: center;
        justify-content: center;
    }
    #arealogofooter img {
        width: 50%;
    }
    #contatos {
        width: 90%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    #contatos ul {
        flex-direction: column;
        align-items: center;
    }
    #contatos a {
        font-size: 22px;
    }
    #eu a {
        font-size: 12px;
    }
}
@media (min-width: 321px) and (max-width: 375px){
    
    /* Header */
    #arealogo {
        width: 60%;
        margin-right: 15%;
    }
    #arealogo img {
        width: 50%;
    }
    header nav ul li {
        display: none;
    }
      
    header nav ul li:last-child {
        display: list-item;
    }
    header nav a{
        font-size: 28px;
    }

    /* Main */
    .barralateral {
        width: 80%;
        top: 15vh;
        left: 20%;
    }
    .barralateral ul{
        padding-top: 20%;
        padding-bottom: 5%;
    }
    .dotted-linel { 
        margin-bottom: 20%;
    }
    #banner {
        margin-top: 20%;

    }
    #titulocardapio{
        font-size: 28px;
        margin-top: 10%;
    }
    .nomearea {
        font-size: 22px;
    }
    .tituloitem {
        font-size: 18px;
    }
    .descricaoitem {
        font-size: 16px;
    }
    #titulosobre {
        font-size: 28px;
    }
    #sobretexto {
        width: 90%;
    }
    .sobrenos {
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .elemento {
        display: none;
    }
    #textosobre {
        font-size: 16px;
    }
    #whatsappicon {
        top: 90vh;
        width: 170px;
        margin-left: 45%;
        margin-right: 5%;
        padding: 2%;
    }
    #whatsappicon a {
        font-size: 18px;
    }
    /* Footer */
    
    #conteudofooter {
        flex-direction: column;
        align-items: center;
        margin-top: 2.5%;
    }
    #arealogofooter {
        width: 60%;
        margin-right: 0;
        align-items: center;
        justify-content: center;
    }
    #arealogofooter img {
        width: 50%;
    }
    #contatos {
        width: 90%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    #contatos ul {
        flex-direction: column;
        align-items: center;
    }
    #contatos a {
        font-size: 22px;
    }
    #eu a {
        font-size: 12px;
    }
}
@media (min-width: 376px) and (max-width: 425px){
    
    /* Header */
    #arealogo {
        width: 45%;
        margin-right: 25%;
    }
    #arealogo img {
        width: 50%;
    }
    header nav ul li {
        display: none;
    }
      
    header nav ul li:last-child {
        display: list-item;
    }
    header nav a{
        font-size: 28px;
    }

    /* Main */
    .barralateral {
        width: 70%;
        top: 15vh;
        left: 30%;
    }
    .barralateral ul{
        padding-top: 20%;
        padding-bottom: 5%;
    }
    .dotted-linel { 
        margin-bottom: 20%;
    }
    #banner {
        margin-top: 16%;

    }
    #titulocardapio{
        font-size: 28px;
        margin-top: 10%;
    }
    .nomearea {
        font-size: 22px;
    }
    .tituloitem {
        font-size: 18px;
    }
    .descricaoitem {
        font-size: 16px;
    }
    #titulosobre {
        font-size: 28px;
    }
    .sobrenos {
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .elemento {
        display: none;
    }
    #textosobre {
        font-size: 16px;
    }
    #sobretexto {
        width: 90%;
    }
    #whatsappicon {
        top: 90vh;
        width: 170px;
        margin-left: 55%;
        margin-right: 5%;
        padding: 2%;
    }
    #whatsappicon a {
        font-size: 18px;
    }
    /* Footer */
    
    #conteudofooter {
        flex-direction: column;
        align-items: center;
        margin-top: 2.5%;
    }
    #arealogofooter {
        width: 60%;
        margin-right: 0;
        align-items: center;
        justify-content: center;
    }
    #arealogofooter img {
        width: 50%;
    }
    #contatos {
        width: 90%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    #contatos ul {
        flex-direction: column;
        align-items: center;
    }
    #contatos a {
        font-size: 22px;
    }
    #eu a {
        font-size: 12px;
    }
    
    #footer{
        margin-left: 0;
    }
}
@media (min-width: 426px) and (max-width: 555px) {
    
    /* Header */
    #arealogo {
        width: 45%;
        margin-right: 30%;
    }
    #arealogo img {
        width: 45%;
    }
    header nav ul li {
        display: none;
    }
      
    header nav ul li:last-child {
        display: list-item;
    }
    header nav a{
        font-size: 28px;
    }

    /* Main */
    .barralateral {
        width: 55%;
        top: 15vh;
        left: 45%;
    }
    .barralateral ul{
        padding-top: 15%;
        padding-bottom: 5%;
    }
    .dotted-linel { 
        margin-bottom: 20%;
    }
    .elemento {
        display: none;
    }
    #sobretexto {
        width: 90%;
    }
    #whatsappicon {
        top: 87vh;
        width: 170px;
        margin-left: 60%;
        margin-right: 5%;
        padding: 2%;

    }
    #whatsappicon a {
        font-size: 18px;
    }
    /* Footer */
    #conteudofooter {
        flex-direction: column;
        align-items: center;
        margin-top: 2.5%;
    }
    #arealogofooter {
        width: 60%;
        margin-right: 0;
        align-items: center;
        justify-content: center;
    }
    #arealogofooter img {
        width: 40%;
    }
    #contatos {
        width: 90%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    #contatos ul {
        flex-direction: column;
        align-items: center;
    }
    #contatos a {
        font-size: 22px;
    }
    #eu a {
        font-size: 12px;
    }
}

@media (min-width: 556px) and (max-width: 768px){
    
    /* Header */
    #arealogo {
        width: 30%;
        margin-right: 15%;
    }
    #arealogo img {
        width: 30%;
    }
    header nav {
        width: 50%;
    }
    header nav a {
        font-size: 16px;
    }

    /* Main */

    #banner {
        margin-top: 10%;

    }
    .elemento {
        display: none;
    }
    #sobretexto {
        width: 90%;
    }
    #whatsappicon {
        top: 87vh;
        width: 180px;
        margin-left: 70%;
        margin-right: 5%;
        padding: 1%;
    }
    #whatsappicon a {
        font-size: 20px;
    }
    /* Footer */
    
    #arealogofooter {
        width: 30%;
        margin-right: 10%;
    }
    #arealogofooter img {
        width: 30%;
    }
    #contatos a {
        font-size: 20px;
    }
    #eu a {
        font-size: 14px;
    }
}

@media (min-width: 769px) and (max-width: 1024px){
    /* Header */
    #arealogo {
        width: 25%;
        margin-right: 20%;
    }
    #arealogo img {
        width: 30%;
    }
    header nav {
        width: 50%;
    }
    /* Main */
    #banner {
        margin-top: 10%;

    }
    .elemento {
        display: none;
    }
    #sobretexto {
        width: 90%;
    }
    #whatsappicon {
        top: 87vh;
        width: 180px;
        margin-left: 80%;
        margin-right: 5%;
        padding: 1%;
    }
    #whatsappicon a {
        font-size: 20px;
    }
    /* Footer */
    #arealogofooter {
        width: 25%;
        margin-right: 30%;
    }
    #arealogofooter img {
        width: 30%;
    }
    #contatos a {
        font-size: 22px;
    }
    #eu a {
        font-size: 14px;
    }
}

@media (min-width: 1025px) and (max-width: 1440px){
    /* Header */
    #banner {
        margin-top: 4%;
    }
    /* Main */
    #whatsappicon {
        top: 87vh;
        width: 180px;
        margin-left: 90%;
        margin-right: 5%;
        padding: 1%;
    }
    #whatsappicon a {
        font-size: 20px;
    }
    /* Footer */
    
}